src/CMakeFiles/
src/source/CMakeFiles/
*.CMakeFiles
*.cmake
CMakeCache.txt
Makefile
*.tar.gz
!src/build/.gitignore
*.Makefile*.cmake
*.includecache
*.internal
*link*txt
*.marks
src/source/DethcountBot
src/build/DethcountBot
src/build/*.png
src/build/log.txt
fonts/OptimusPrinceps/OptimusPrinceps.ttf
fonts/OptimusPrinceps/OptimusPrincepsSemiBold.ttf
traineddata/OptimusPrinceps.traineddata
src/source/LidlDetector.cpp
src/build/logs*.txt
