src/CMakeFiles/
src/source/CMakeFiles/
*.CMakeFiles
*.cmake
CMakeCache.txt
Makefile
*.tar.gz
!src/build/.gitignore
*.Makefile*.cmake
*.includecache
*.internal
*link*txt
*.marks
src/source/DethcountBot